.idea/
build/
cmake-build-agent/
cmake-build-debug/

Rezultatai.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
generuotiStud1000.txt
generuotiStud10000.txt
generuotiStud100000.txt
generuotiStud1000000.txt
generuotiStud10000000.txt
vargsai.txt
kieti.txt
kursiokai.txt
programa
OOP_1